html {
	overflow-y: scroll;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 11px;
}

form {
	margin: 0;
	border: 0;
	padding: 0;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

td.label {
	width: 20%;
}

td.value {
	width: 80%;
}

input.value {
	width: 50%;
}

.body-content {
	min-width: 900px;
}

.required {
	background-image: url("#{resource['images/icons/icon-required.gif']}");
	background-position: top left;
	background-repeat: no-repeat;
	padding-right: 10px;
}

a label {
	cursor: pointer;
}

#menuBar {
	float: left;
}

#profileBar {
	float: right;
}

#northPane.ui-layout-north {
	border: none;
	padding: 0;
	z-index: 20 !important;
}

#northPane.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

#westPane.ui-layout-west, #eastPane.ui-layout-east, #southPane.ui-layout-south
	{
	border-left: none;
	border-right: none;
	border-bottom: none;
}

#centerPane.ui-layout-center {
	border: #CCCCCC solid 1px;
}

#topLeftMenuForm .ui-button, #quickLinksForm .ui-button {
	border: none !important;
}

#loginForm {
	max-width: 350px;
}

#loginForm .ui-inputfield {
	width: 12vw;
	min-width: 12vw;
	max-width: 12vw;
}

.icon {
	width: 15px;
	height: 15px;
}

#pageFooter {
	bottom: 0;
	position: absolute;
	width: 95vw;
}

#systemMark {
	float: left;
}

#companyTradeMark {
	float: right;
}

#container_dailyreport {
	width: 100%;
}

#right_dailyreport {
	float: right;
	width: 48%;
}

#left_dailyreport {
	float: left;
	width: 52%;
}

#sub_right_dailyreport {
	float: right;
	width: 45%;
}

#sub_left_dailyreport {
	float: left;
	width: 45%;
}

#sub_dailyreport {
	position: relative;
	text-align: center;
}

table.list-branch th, table.list-branch td {
	border-width: 0 !important;
	overflow: hidden !important;
	padding: 4px 25px !important;
	text-align: left !important;
}

.popup-panel {
	min-height: 50vh;
	min-width: 50vw;
	max-width: 50vw;
	max-height: 50vh;
}

.arrow-form-title {
	vertical-align: middle;
}

table.arrow-ui-filter {
	width: 100%;
}

table.arrow-ui-filter td {
	border: none !important;
	padding: 1px;
}

table.arrow-ui-filter td.label {
	width: 25%;
}

table.arrow-ui-filter td.value {
	width: 75%;
}

table.arrow-filter-date-from-to input {
	width: 100px !important;
}

th.arrow-ui-time-column {
	text-align: center;
	width: 35px;
	min-width: 35px !important;
}

.arrow-ui-date-column {
	text-align: center;
	width: 70px;
	width: 70px !important;
}

.arrow-ui-date-time-column {
	text-align: center;
	width: 140px !important;
}

div[id*="searchHistoryDialog_modal"] {
	opacity: 0;
}

.arrow-ui-name-column {
	width: 20%;
	text-align: left;
}

.arrow-ui-index-column {
	min-width: 25px;
	width: 25px;
	text-align: center;
}

.arrow-ui-select-column {
	-moz-column-width: 100px;
	width: 15px;
	min-width: 15px !important;
	text-align: center;
}

.arrow-ui-select-column[class*="long"] {
	width: 45px !important;
}

.arrow-ui-number-column {
	width: 10%;
	min-width: 25px;
	text-align: center;
}

.arrow-ui-code-column {
	width: 100px;
	min-width: 100px;
}

.arrow-ui-code-column input.ui-column-filter {
	width: 65px !important;
	margin-left: -5px;
}

.arrow-ui-code-column div.ui-column-filter {
	width: 65px !important;
	margin-left: -2px;
}

.arrow-ui-longcode-column {
	width: 90px !important;
	min-width: 90px !important;
}

.arrow-ui-name-column {
	min-width: 100px;
}

.arrow-ui-tel-column {
	width: 90px !important;
}

.arrow-ui-tel-column input.ui-column-filter {
	width: 75px !important;
	min-width: 75px !important;
	margin-left: -5px;
}

.arrow-column-header {
	padding: 5px 4px 3px 5px !important;
	white-space: nowrap;
	width: 20px;
}

.arrow-text-column {
	width: 100% !important;
	text-align: left;
}

.arrow-row-branch {
	width: 15px;
	min-width: 15px;
}

.arrow-ui-calendar .ui-inputfield {
	width: 80px;
	max-width: 80px;
}

.search-conditions .ui-selectonemenu {
	max-width: 180px;
}

.mandatory:not(fieldset):after {
	color: #d00;
	content: "*";
}

.emphasis {
	color: red;
	font-weight: bold;
}

.button-emphasis {
	width: 150px !important;
	height: 30px !important;
	font-size: 1.2em !important;
	background-color: ButtonHighlight;
}

.mandatory legend:after {
	color: #d00;
	content: "*";
}

.toolbox {
	float: left;
	font: 0.9em;
}

.toolbox a {
	color: blue;
}

.clear {
	clear: both;
}

.arrow-ui-code-column .ui-column-title input.ui-inputfield {
	min-width: 4em;
}

.history-result {
	font-style: italic;
	color: red;
}

.panel-notice-setting {
	height: 40px;
}

.ui-datatable-tablewrapper {
	overflow-x: auto;
	/* When collapse browser , the pagination bar of datatable is not adjusting , so this is solution */
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
	padding-bottom: 12px !important;
}

.arrow-column-status {
	width: 40px;
}

.arrow-ui-view-column {
	width: 60px;
	min-width: 60px !important;
	text-align: center;
}

th.arrow-ui-date-only-column {
	text-align: center;
	width: 65px;
	min-width: 65px !important;
}

.arrow-ui-short-name-column {
	width: 15%;
	text-align: left;
	min-width: 100px;
}

.input-count-visited {
	text-align: right;
	width: 50px !important;
	min-width: 50px !important;
}

.register-link {
	text-decoration: underline !important;
	color: blue !important;
}

.deleted {
	color: #A7A4A3;
}

.title {
	width: 100%;
	font-weight: bold;
	background-color: #66CCFF;
}

.sub-title {
	margin-left: 50px;
	font-weight: bold;
	background-color: #D09042;
}

.sub-info-panel {
	margin-left: 50px;
}

.monthly-report-button-left-panel {
	float: left;
	width: 30%;
}

.monthly-report-button-right-panel {
	float: right;
	text-align: right;
	width: 70%;
}

.monthly-report-info-left-panel {
	float: left;
	padding-left: 10px;
	width: 75%;
}

.monthly-report-info-right-panel {
	float: right;
	padding-right: 10px;
}

.monthly-report-header-cell {
	text-align: center;
	width: 25%;
	padding: 10px;
}

.monthly-report-header-cell-border-right {
	border-right: thin solid;
}

.data-table {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.view-table {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

#monthlyReportForm .small-input {
	width: 55px;
	border-radius: 0;
	min-width: 55px;
	text-align: right;
}

#monthlyReportForm
 
.small-input
:not
 
(
[
disabled
]
 
)
{
background-color
:
 
#FFC
;


}
#monthlyReportForm .small-input:disabled {
	background-color: white;
}

#monthlyReportForm input.pe-inputNumber {
	width: 55px;
	border-radius: 0;
	min-width: 55px;
}

#monthlyReportForm
 
input
.pe-inputNumber
:not
 
(
[
disabled
]
 
)
{
background-color
:
 
#FFC
;


}
#monthlyReportForm
 
input
.pe-inputNumber
:not
 
(
[
disabled
]
 
)
{
background-color
:
 
#FFC
;


}
#monthlyReportForm #targetNexMonthTable span #monthlyReportForm:costRateInput
	{
	background-color: #000;
}

#monthlyReportForm #careerInfoTable td {
	width: 25%;
	text-align: right;
}

#monthlyReportForm #purposeTable td {
	width: 25%;
	text-align: right;
}

#monthlyReportForm #employeeManagementTable td {
	width: 25%;
	text-align: right;
}

#monthlyReportForm #recruitInfoTable td {
	width: 25%;
	text-align: right;
}

#monthlyReportForm #targetNexMonthTable td {
	width: 25%;
	text-align: right;
}

.output-label-comment {
	margin-left: 5%;
}

.text-area {
	overflow: hidden;
	word-wrap: break-word;
	height: 55px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.verify-status {
	word-wrap: break-word;
	width: 99%;
	height: 100%
}

.verify-fieldset {
	min-height: 300px
}

.dialog-confirm {
	width: 100%;
	text-align: center;
}

#monthlyReportForm
 
.text-area
:not
 
(
[
disabled
]
 
)
{
background-color
:
 
#FFC
;


}
.sub-title6 {
	background-color: #E6E6E6;
}

.list-supervisor-label {
	font: bold;
}

#listAddresspointForm #addresspoint_table .arrow-ui-code-column input.ui-column-filter
	{
	margin: auto;
	width: 50%;
}

#dlgComment .text-area {
	background-color: #FFC;
}

.padding-left-thirty {
	padding-left: 30px;
}

@
-moz-document url-prefix () { #listAddresspointForm
	.arrow-ui-select-column {
	width: 3%;
}

#adpDetailPane .arrow-ui-select-column {
	width: 3%;
}

}
.width-fifty {
	width: 50px;
}

.width-eighty {
	width: 80px;
}

.width-one-hundred {
	width: 100px;
}

.width-one-hundred-fifty {
	max-width: 150px;
}

.suggestion-header {
	width: auto;
	cursor: default;
	pointer-events: none;
	border: none;
	list-style-type: none;
	width: auto;
	height: 25px;
	padding: 0;
}

.suggestion-item {
	float: left;
	overflow: hidden;
	word-wrap: break-word;
	list-style-type: none;
	padding: 4px 10px 4px 10px;
	background: #F4F0EC;
	font-weight: normal;
	border: 1px solid #d9bb73;
}

#companyAddForm .ui-picklist ul {
	width: auto;
}

.suggestion-header-cell {
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	padding: 4px 10px 4px 10px;
	background: #EDE4D4;
	color: #000000;
	font-size: 10px;
	font-weight: normal;
}

.arrow-suggestion-panel {
	padding: 0px;
	margin: 0px;
}

.arrow-suggestion-header-item {
	display: block;
	height: 25px;
	border-style: inherit;
	padding: 0;
	margin: 0;
}

.arrow-suggestion-render-items {
	display: block;
	border-style: inherit;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.arrow-suggestion-select-items {
	list-style-type: none;
	display: inline-block;
	overflow: auto;
	float: left;
}

.summary-content {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.proc3-width-col {
	min-width: 300px;
	padding-left: 20px;
}

.proc3-width-col>textarea {
	width: 450px;
	height: 60px;
}

.arrow-ui-currency-column {
	width: 75px;
	text-align: right;
}

.arrow-ui-percent-column {
	width: 25px;
	text-align: right;
}

.arrow-ui-radio-column {
	width: 5px;
	text-align: center;
	vertical-align: middle;
}

.ui-cell-editor-input {
	text-align: center;
}

#tableAccData input.ui-inputtext {
	padding: 5px;
	margin: 5px;
	width: -webkit-calc(100% - 10px);
	width: -moz-calc(100% - 10px);
	min-width: -webkit-calc(100% - 10px);
	min-width: -webkit-calc(100% - 10px);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.arrow-ui-long-code-column {
	width: 235px;
	text-align: left;
}

.arrow-ui-checkbox-column {
	min-width: 10px !important;
	width: 15px;
}

.layout-noborder .ui-layout-unit {
	border: none;
}

.layout-buttonMiddle {
	height: 100px;
	width: 6%;
	float: left;
	text-align: center;
}

.buttonMiddle {
	top: 50%;
	transform: translateY(-50%);
}

.arrow-button-right-panel {
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

input.arrow-fit-container {
	width: 90%;
	min-width: 50px;
	max-width: auto;
}

.arrow-column-select {
	text-align: center;
	width: 30px;
	margin-top: 10px;
}

.arrow-button-select {
	float: right;
	width: 6%;
	height: 30px;
}

.arrow-ui-table table {
	table-layout: auto;
}

.arrow-ui-surveydate-column {
	width: 5px;
	text-align: center;
}

.arrow-ui-classify-column {
	width: 15px;
	text-align: center;
}

.arrow-ui-minimum-select-column {
	width: 1px;
	text-align: center;
}

.ui-dialog-buttonpane.ui-dialog-footer.ui-widget-content.ui-helper-clearfix
	{
	text-align: center;
	width: 100%;
}

.select-name-card-button {
	float: left;
}

.arrow-ui-sort-text-column {
	min-width: 65px;
	width: 65px;
	text-align: center;
}

.name-card-table .ui-chkbox.ui-chkbox-all.ui-widget {
	display: none;
}

.input-margin-line {
	margin-bottom: 8px;
	margin-top: 8px;
}

.accountPanel {
	padding: 0px;
	border: 0;
}

.accountPanel .ui-panel-content {
	padding: 0px;
}

.no-border-panel {
	border: none;
}

h3.title-data-customer {
	margin-bottom: 0;
}

.scroll-panel-datacustomer {
	border: none;
	background: #F4F0EC;
}

.inputSavingPath {
	width: 100%;
}

.invisible-button {
	display: none;
}

.param-project-hidden {
	display: none;
}

input.customer-code-input {
	width: 120px;
	min-width: 120px;
}

.customer-code-label {
	margin-right: 5px;
}

.ui-tooltip {
	padding: 0;
}